<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Carrito de compra</title>
  <link rel="stylesheet" href=carrito.css>
</head>
<body>
<h1>Carrito de compra</h1>

<table>
  <thead>
  <tr>
    <th>Producto</th>
    <th>Valor</th>
    <th>Cantidad</th>
    <th>Añadir al carrito</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Producto 1</td>
    <td>$50.00</td>
    <td><input type="number" min="1" value="1"></td>
    <td><button   class="boton">Añadir</button></td>
  </tr>
  </tbody>
</table>

<div style="background-color: #fff; padding: 10px;">
  <h2>Carrito de compra</h2>
  <table>
    <thead>
    <tr>
      <th>Producto</th>
      <th>Valor</th>
      <th>Cantidad</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <button class="boton">Comprar</button>
  <td><button class="boton" onclick="location.href='inicio.html'">inicio</button></td>
</div>

</body>
</html>
