<!DOCTYPE html>
<html lang="es" xmlns:th="https//www.thymeleaft.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cons.css">
    <title>Consulta</title>

</head>

<body>
<div class="contenedor">
    <form class="Formulario" th:action="@{/save}" th:object="${propietario}+${mascota}" method="post">
        <header class="header">
            <h1>F<span>ormulario de consulta</span></h1>
        </header>
        <label for="name" class="Form_label">Nombre del propietario:</label>
        <input th:field="*{name}" type="text" class="Form_input" name="nombre" id="name">

        <label for="correo" class="Form_label">Correo electronico:</label>
        <input th:field="*{email}" type="email" class="Form_input" name="correo" id="correo">

        <label for="Telefono" class="Form_label">Telefono:</label>
        <input th:field="*{telefono}" type="text" class="Form_input" name="Telefono" id="Telefono">

        <label for="Direccion" class="Form_label">Direccion:</label>
        <input th:field="*{direccion}" type="text" class="Form_input" name="Direccion" id="Direccion">

        <label for="identificacion" class="Form_label">ID:</label>
        <input th:field="*{id}" type="text" class="Form_input" name="identificacion" id="identificacion">

        <label for="Nombre_mas" class="Form_label">Nombre de la mascota:</label>
        <input th:field="*{nameMas}" type="text" class="Form_input" name="Nombre_mas" id="Nombre_mas">

        <label for="tipo_mas" class="Form_label">Tipo de mascota:</label>
        <input th:field="*{especie}" type="text" class="Form_input" name="tipo_mas" id="tipo_mas">

        <label for="raza" class="Form_label">Raza:</label>
        <input th:field="*{raza}"type="text" class="Form_input" name="raza" id="raza">

        <label for="color" class="Form_label"> color :</label>
        <input th:field="*{color}" type="text" class="Form_input" name="color" id="color">

        <label for="Edad" class="Form_label"> Edad :</label>
        <input th:field="*{edad}" type="text" class="Form_input" name="Edad" id="Edad">

        <label for="peso" class="Form_label"> Peso :</label>
        <input th:field="*{peso}" type="text" class="Form_input" name="peso" id="peso">

        <label for="sintomas" class="Form_label"> Sintomas:</label>
        <textarea th:field="*{sintomas}" class="Form_tex"  name="sintomas" id="sintomas" cols="30" rows="10" placeholder="Escriba los sintomas"></textarea>

        <label for="diagnostico" class="Form_label"> Diagnostico y recomendaciones:</label>
        <textarea th:field="*{diagnostico}" class="Form_tex"  name="diagnostico" id="diagnostico" cols="30" rows="10" placeholder="Escriba el diagnostico y recomendaciones al paciente"></textarea>

        <a href="inicio.html"> <input type="button" class="Inicio" value="Inicio"></a>
        <input type="button" class="Enviar" value="Enviar consulta">
        <input type="button" class="Imprimir" value="Imprimir consulta">

    </form>



</div>

</body>
</html>