<!DOCTYPE html>
<html lang="en" xmlns:th="https//www.thymeleaft.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="estilo.css">
  <title>Inicio</title>
</head>
<body>

<div class =" cuadro de inicio de sesión "     class="avatar" alt =" Imagen de Avatar " ></div>

<div class="head">
  <div class="logo">
    <img src="logo.jpeg" alt="logo img">
  </div>

  <nav class="navbar">
    <a th:href="@{/new}">Registro</a>
    <a href="consulta.html">consulta</a>
    <a href="inventario.html">Inventario</a>
    <a href="carrito.html">Productos</a>

  </nav>
</div>
</body>
</html>