<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registro clientes</title>
  <link rel="stylesheet" href=Datos.css>
</head>
<body>
<div><h1>Registro de clientes</h1></div>

<table>
  <thead>
  <tr>
    <th>Propietario</th>
    <th>ID</th>
    <th>mascota</th>
    <th>telefono</th>
    <th>Raza</th>
    <th>Actualizar</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Nicolas</td>
    <td>15436</td>
    <td>Luna</td>
    <td>3145674354</td>
    <td>Bulldog</td>
    <td><button class="boton">Actualizar</button></td>
  </tr>
  </tbody>
</table>

<td><button class="boton" onclick="location.href='inicio.html'">inicio</button></td>
</div>

</body>
</html>